<div class="calc">
  <mat-drawer-container class="calc-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <form-ogr (ogrItemEvent)="ogrCalcElem($event)"></form-ogr>
      <form-add (addItemEvent)="addCalcElem($event)"></form-add>
    </mat-drawer>
    <mat-card class="calc_card">
      <button class="burger" type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <mat-card-content class="content_wrapper">      
        <table mat-table [dataSource]="preparedCalcList">
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef>Дата</th>
            <td mat-cell *matCellDef="let element">{{element.date}}</td>
          </ng-container>
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Блюдо</th>
            <td mat-cell *matCellDef="let element">{{element.title}}</td>
          </ng-container>
          <ng-container matColumnDef="kal">
            <th mat-header-cell *matHeaderCellDef>Калории</th>
            <td mat-cell *matCellDef="let element">{{element.kal}}</td>
          </ng-container>
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Прием пищи</th>
            <td mat-cell *matCellDef="let element">{{element.type}}</td>
          </ng-container>
          <ng-container matColumnDef="ogr">
            <th mat-header-cell *matHeaderCellDef>Ограничение</th>
            <td mat-cell *matCellDef="let element">{{element.ogr}}</td>
          </ng-container>
          <ng-container matColumnDef="check">
            <th mat-header-cell *matHeaderCellDef>Проверка</th>
            <td mat-cell *matCellDef="let element">{{element.check ? 'Нет превышения' : 'Превышение'}}</td>
          </ng-container>
          <ng-container matColumnDef="delButton">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button (click)="delCalcElem(element.id, element.date)">Удалить</button>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </mat-drawer-container>
</div>