.calc {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 251, 219);
}

.calc-container {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 251, 219);
}
  
.calc_card {
    margin: 16px;
}
  
.sidenav {
    padding: 20px;
}

.burger {
    width: 5%;
}